.preference-container {
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    position: relative;
    background-color: white;
    justify-content: space-around;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stat-name {
    font-size: 1.5em;
}